// item + item-shipment + item-shipment-[вид отображения] (css)
+b.item.item-shipment.item-shipment-[вид отображения]
    +e.link.A(href="#")
        +e.image
            img(src="URL_IMG", alt="")
// КОНЕЦ: item + item-shipment + item-shipment-[вид отображения] (css)

// item + item-shipment + item-shipment-[вид отображения] (css)
+b.item.item-shipment.item-shipment-[вид отображения]
    +e.link.A(href="#")
        +e.image
            img(src="URL_IMG", alt="")
        +e.name НАЗВАНИЕ
// КОНЕЦ: item + item-shipment + item-shipment-[вид отображения] (css)
