$icons: (
	  sprite: (width: 521px, height: 497px, svgPath: '../img/sprite.svg'),
 	14days: (width: 70px, height: 71px, backgroundX: 0px, backgroundY: -365px),
 	15years: (width: 136px, height: 147px, backgroundX: -284px, backgroundY: 0px),
 	3d: (width: 50px, height: 50px, backgroundX: -307px, backgroundY: -233px),
 	ArrowBc: (width: 8px, height: 6px, backgroundX: -430px, backgroundY: -348px),
 	arrow-down: (width: 13px, height: 9px, backgroundX: -271px, backgroundY: -301px),
 	arrow-left: (width: 31px, height: 12px, backgroundX: -430px, backgroundY: -326px),
 	arrow-left-bc: (width: 25px, height: 12px, backgroundX: -201px, backgroundY: -301px),
 	arrow-right: (width: 31px, height: 12px, backgroundX: -471px, backgroundY: -326px),
 	arrowgright: (width: 8px, height: 6px, backgroundX: -448px, backgroundY: -348px),
 	arrows-back: (width: 25px, height: 12px, backgroundX: -236px, backgroundY: -301px),
 	arrowwhite: (width: 8px, height: 6px, backgroundX: -466px, backgroundY: -348px),
 	backall: (width: 74px, height: 70px, backgroundX: -430px, backgroundY: -82px),
 	boxes: (width: 97px, height: 83px, backgroundX: -94px, backgroundY: -233px),
 	btn-big: (width: 274px, height: 66px, backgroundX: 0px, backgroundY: 0px),
 	cheap-price: (width: 63px, height: 69px, backgroundX: -161px, backgroundY: -365px),
 	checkicon: (width: 28px, height: 28px, backgroundX: -94px, backgroundY: -326px),
 	chevron-right: (width: 9px, height: 13px, backgroundX: -410px, backgroundY: -157px),
 	clever-construct: (width: 72px, height: 72px, backgroundX: -430px, backgroundY: -162px),
 	dots: (width: 10px, height: 10px, backgroundX: -410px, backgroundY: -180px),
 	dots-active: (width: 10px, height: 10px, backgroundX: -263px, backgroundY: -76px),
 	dots-active-red: (width: 10px, height: 10px, backgroundX: -263px, backgroundY: -96px),
 	dots-black: (width: 10px, height: 10px, backgroundX: -263px, backgroundY: -116px),
 	download: (width: 26px, height: 30px, backgroundX: -102px, backgroundY: -446px),
 	dquotes: (width: 68px, height: 68px, backgroundX: -234px, backgroundY: -365px),
 	fav-ico: (width: 26px, height: 23px, backgroundX: -132px, backgroundY: -326px),
 	fav-ico-red: (width: 26px, height: 23px, backgroundX: -168px, backgroundY: -326px),
 	fb: (width: 41px, height: 41px, backgroundX: 0px, backgroundY: -446px),
 	insta: (width: 41px, height: 41px, backgroundX: -51px, backgroundY: -446px),
 	mail-box: (width: 84px, height: 122px, backgroundX: 0px, backgroundY: -233px),
 	map: (width: 68px, height: 72px, backgroundX: -430px, backgroundY: -244px),
 	more-cat: (width: 60px, height: 62px, backgroundX: -312px, backgroundY: -365px),
 	pdf: (width: 25px, height: 25px, backgroundX: -138px, backgroundY: -446px),
 	pdf-big: (width: 47px, height: 59px, backgroundX: -382px, backgroundY: -365px),
 	pdf-list: (width: 47px, height: 59px, backgroundX: -439px, backgroundY: -365px),
 	phone: (width: 22px, height: 22px, backgroundX: -268px, backgroundY: -326px),
 	print: (width: 25px, height: 25px, backgroundX: -173px, backgroundY: -446px),
 	ral: (width: 71px, height: 69px, backgroundX: -80px, backgroundY: -365px),
 	right: (width: 8px, height: 6px, backgroundX: -484px, backgroundY: -348px),
 	rus-map: (width: 253px, height: 147px, backgroundX: 0px, backgroundY: -76px),
 	search-2-ico: (width: 22px, height: 23px, backgroundX: -204px, backgroundY: -326px),
 	search-ico: (width: 22px, height: 23px, backgroundX: -236px, backgroundY: -326px),
 	share: (width: 25px, height: 25px, backgroundX: -208px, backgroundY: -446px),
 	share-hover: (width: 25px, height: 25px, backgroundX: -243px, backgroundY: -446px),
 	three-days: (width: 81px, height: 72px, backgroundX: -430px, backgroundY: 0px),
 	victims: (width: 96px, height: 58px, backgroundX: -201px, backgroundY: -233px),
 	warehause: (width: 116px, height: 49px, backgroundX: -284px, backgroundY: -157px),
 	youtube: (width: 42px, height: 41px, backgroundX: -367px, backgroundY: -233px),
);
