// b-promo (css, js)
- var item = 3;
+b.SECTION.b-promo
    //- include ../arrows_1/arrows-1
    +e.list
        +e.list-wrapper
            - for (var i=1; i<=item; i++)
                +e.item
                    +e.image
                        img(src='/img/sliders/banners/banner' + i + '.jpg', alt='')
        .swiper-pagination
// КОНЕЦ: b-promo (css, js)
