- const catalogcat = [{"title":"Секционные почтовые ящики","img":"category/optima.png","href":"#"},{"title":"Индивидуальные почтовые ящики","img":"category/ind-post-box.png","href":"#"},{"title":"Двери тамбурные металлические","img":"category/dveri-tamb-metal.png","href":"#"},{"title":"Шкафы металлические для раздевалок","img":"category/shkaf-metal-razdev.png","href":"#"},{"title":"Металлические урны для улицы","img":"category/optima-4-3.png","href":"#"}];
 
for item in catalogcat
    +card-category(item, 1)