// b + b-about (css)
+b.b.b-about.margin
    +e.hd
        +e.H2.title О компании
    +e.cont
        p Наша компания предлагает грузовые автомобили и спецтехнику от лучших российских и зарубежных производителей. Обеспечиваем техникой для нефтегазодобывающей, строительной, лесозаготовительной, коммунальной и других отраслей. Гарантируем четкие сроки поставки и выгодные цены для каждого из наших клиентов. 
        p Обеспечиваем техникой для нефтегазодобывающей, строительной, лесозаготовительной, коммунальной и других отраслей. Гарантируем четкие сроки поставки и выгодные цены для каждого из наших клиентов.
        +btnLink('#', 'secondary _size-2', '') Подробнее о компании
// КОНЕЦ: b + b-about (css)
