// nd-news
+b.nd-news.margin
    +e.content
        +e.data 01.12.2017
        +e.body.margin
            img(src="/img/temp/news/node/01.jpg" alt="")
            p "БелАЗ" рассматривает предложения о реализации продукции предприятия за криптовалюту с 11 по 30 января", - сообщается на сайте предприятия.
            p "Биткоин не связан с государствами и банковскими центрами. Им могут рассчитываться все, у кого есть интернет, - напоминается в сообщении "БелАЗа".
            p "БелАЗ-75710" - самый большой в мире карьерный автосамосвал. Его цена - $7,5 млн.
            p Белорусское предприятие стало первым в списке крупнейших производителей, начавшим продажу продукции за криптовалюты.
            p Крупнейшие заказчики самосвалов "БелАЗа" - угледобывающие холдинги России: "Кузбассразрезуголь", СУЭК, "Мечел", "СДС-уголь", "Стройсервис". Самосвалы "БелАЗа" грузоподъемностью 130 тонн эксплуатируется золотодобывающими предприятиями Узбекистана и горно-рудными компаниями Украины, Казахстана, Болгарии, Сербии, Монголии.
            p Как сообщали ранее "Вести. Экономика", в декабре 2017 г. Белоруссия официально разрешила криптовалюты. Белорусам разрешили обменивать токены, майнить их, продавать и покупать за белорусские рубли, иностранные валюты и электронные деньги. Более того, теперь можно дарить и завещать токены, а деятельность по майнингу, покупке и продаже криптовалют не считается предпринимательством.
            p Декларировать криптовалюты и доходы от операций с ними белорусам также не надо будет, а налоги с них платить не надо вплоть до 1 января 2023 г.
            p 
                | Напомним, что в России ситуация обратная: власти намерены строго регулировать рынок криптовалют.
                br 
                | Подробнее: http://www.vestifinance.ru/articles/96089
    +e.gallery.margin
        //- include ../../components/gallery_1/gallery_1
// КОНЕЦ: nd-news
