// b + b-catalog-similar (css)
+b.b.b-catalog-similar.margin
    +e.container
        +e.hd
            +e.H2.title Возможно вас заинтересует
        +e.cont
            //include ../item-catalog/teaser-1/section
// КОНЕЦ: b + b-catalog-similar (css)
