// to-basket
+b.to-basket.to-basket_m
    form
        .form-item
            .form-item
                input(type="text" value="1").form-text
        .form-actions
            input(type="submit" value="В корзину")
// КОНЕЦ: to-basket
