// b + b-details-company (css)
+b.SECTION.b.b-details-company.margin
    +e.hd
        +e.H2.title Реквизиты компании
    +e.cont
        table.table-mobile
            tr
                td Полное наименование
                td Общество с ограниченной ответственностью “Название компании”
            tr
                td Краткое наименование
                td ООО «Название компании»
        +btnLink('#', 'download', '') Скачать реквизиты
// КОНЕЦ: b + b-details-company (css)
