@import "../helpers/_helpers";

.search {
    form {
        display: flex;
    }
    .form-item {
        flex: 1;
        margin: 0;
    }
    .form-text {
        background-color: #ffffff;
        border: 1px solid #333333;
        color: #ffffff;
        padding: 9px 44px 8px 16px;
    }
    .form-actions {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
    }
    .form-submit {
        border: none;
        background-color: transparent;
        background-image: url(../img/icons-svg/search.svg);
        background-position: center;
        background-repeat: no-repeat;
        text-indent: -999999px;
        height: 35px;
        width: 44px;
        padding: 0;
    }
}
.search__submit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}
