// descr-pg
+b.descr-pg_bottom.margin
	+e.inner
		+e.value
			p Место для нижнего описания раздела, если оно будет заполнено. Если описание не заполнено, здесь ничего не выводится. Доставку техники осуществляем во все регионы России и страны СНГ. Все подробности об индивидуальных скидках, доставке и лизинге вы можете узнать у наших менеджеров по телефонам: +7 (343) 214-41-42, +7 (343) 214-41-43.
// КОНЕЦ: descr-pg
