// descr-pg
+b.descr-pg_top
	+e.inner
		+e.value
			p Место для верхнего описания раздела, если оно будет заполнено. Если описание не заполнено, здесь ничего не выводится. Поставляем спецтехнику с КМУ Урал напрямую с завода-производителя. Гарантируем выгодные цены. При необходимости утеплим кабину, сделаем двойное остекление, установим электроподогрев двигателя и подогрев сидений, а также любые другие доработки.
// КОНЕЦ: descr-pg
