// hd (css)
+b.hd
    +e.top
        +e.container.container
            include slogan/slogan
            +e.phone
                a(href="tel:+73517008450") 8 (351) 700-84-50
            +e.order-call
                +b.a(href="#").btn_secondary._sm._radius Заказать звонок
            +e.email
                a(href="mailto:sales@polistroy74.ru") sales@polistroy74.ru
            include ../favorites/favorites_go-page_active
    +e.bottom
        +e.container.container
            include logo/logo
            include ../nv-main-menu/nv-main-menu
            include ../search/search
// КОНЕЦ: hd (css)
