// menu-m-panel
+b.menu-m-panel
    +e.overlay
    +e.panel
        +e.hd
            //- include ../close/close
        +e.cont
            +e.inner
                //- include ../nv-m/nv-m
// КОНЕЦ: menu-m-panel
