// item + item-catalog + item-catalog-[вид отображения] (css)
+b.item.item-catalog.item-catalog-[вид отображения]
    +e.link.A(href="#")
        +e.image
            img(src="URL_IMG", alt="")
        +e.name НАЗВАНИЕ
// КОНЕЦ: item + item-catalog + item-catalog-[вид отображения] (css)

// item + item-catalog + item-catalog-[вид отображения] (css)
+b.item.item-catalog.item-catalog-[вид отображения]
    +e.image
        a(href="#")
            img(src="URL_IMG", alt="")
    +e.info
        +e.name
            +e.link.A(href="#") НАЗВАНИЕ
    +e.sublist
        ul
            li Элемент 1
            li Элемент 2
// КОНЕЦ: item + item-catalog + item-catalog-[вид отображения] (css)
