// b + b-our-offer (css)
+b.SECTION.b.b-our-offer.margin
    +e.hd
        +e.H2.title.b__title Наши предложения
    +e.cont
        //include ../item-unit/teaser-2/all
    +e.ft
        //include ../pg_1/pg_1
// КОНЕЦ: b + b-our-offer (css)
