// bc (css)
+b.bc
    +e.link.A(href="#") Главная
    +e.sep.SPAN
    +e.link.A(href="#") Продукция
    +e.sep.SPAN
    +e.link.A(href="#") Секционные почтовые ящики
    +e.sep.SPAN
    +e.link.A(href="#") Серия «ОРИОН ПРЕСТИЖ»

// КОНЕЦ: bc (css)
