// bc.bc-inner-pages (css)
.block.block-bc
    .container
        +b.bc.bc-inner-pages
            +e.link.A(href="#") Главная
            +e.sep.SPAN
            +e.link.A(href="#") Продукция
            +e.sep.SPAN
            +e.link.A(href="#") Почтовые ящики
            +e.sep.SPAN
            +e.link.A(href="#") Серия «ОРИОН ПРЕСТИЖ»
            +e.sep.SPAN
            +e.link.A(href="#") 2-х секционный почтовый ящик
// КОНЕЦ: bc.bc-inner-pages (css)
