// b + b-catalog-front (css)
+b.SECTION.b.b-catalog-front.margin
    +e.hd
        +e.H2.title Каталог техники
    +e.cont
        //include ../item-catalog/teaser-1/front
// КОНЕЦ: b + b-catalog-front (css)
