extends layout/default

block variables
    - const title = "Еденица каталога";
    - const description = '';
    - const keywords = '';
    - const pageClass = '';

block styles
    +style("http://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css")
    +style('https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css')
    +style('https://cdn.jsdelivr.net/npm/lightgallery/dist/css/lightgallery.min.css')
    +style('css/common.min.css')              // базовые стили
    +style('css/hd.min.css')                  // шапка
    +style('css/b.min.css')                  //  Блоки и секции
    +style('css/hd-m.min.css')
    +style('css/slogan.min.css')              // слоган
    +style('css/logo.min.css')                // логотип в шапке
    +style('css/nv-main-menu.min.css')        // главное меню
    +style('css/search.min.css')              // поиск в шапке
    +style('css/favorites.min.css')           // избранное
    +style('css/lightgallery.min.css')        // фотогаллерея
    +style('css/nd-page.min.css')             // текстовая страница
    +style('css/gallery.min.css')             // галерея
    +style('css/bc.min.css')                  // хлебные крошки
    +style('css/bc-m.min.css')                  //   хлебные крошки
    +style('css/b.min.css')                   // дефолтные стили для блоков
    +style('css/b-consult.min.css')           // блок консультации
    +style('css/item-catalog-teaser3.min.css')      // Категории каталога main
    +style('css/b-promo.min.css')
    +style('css/block-banner.min.css')
    +style('css/block-choose.min.css')
    +style('css/image.min.css')
    +style('css/block-config-mail-box.min.css') // Конфигуратор
    +style('css/block-features.min.css')      // Категории каталога main
    +style('css/ft.min.css')  // Футер
    +style('css/social.min.css')
    +style('css/block-banner.min.css')
    +style('css/label.min.css')
    +style('css/share.min.css')
    +style('css/print.min.css')
    +style('css/pdf.min.css')
    +style('css/catalog-item.min.css')
    +style('css/tabbed-panels.min.css')
    //+style('css/block-catalog-text.min.css')
    +style('css/arrows.min.css')
    +style('css/block-related-items.min.css')
    +style('css/block-link-price.min.css')

block scripts
    +script('https://cdn.jsdelivr.net/npm/jquery@1.11.0/dist/jquery.min.js')
    //-+script('https://cdn.jsdelivr.net/npm/jquery-once@2.2.0/jquery.once.min.js')
    +script("https://code.jquery.com/ui/1.11.4/jquery-ui.min.js")
    //+script("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js")
    +script('https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js')
    +script('https://cdn.jsdelivr.net/npm/lightgallery/dist/js/lightgallery-all.min.js')
    //-+script('https://cdn.jsdelivr.net/npm/inputmask/dist/min/jquery.inputmask.bundle.min.js')
    +script('js/lightgallery.min.js')               // фотогаллерея
    //+script('js/gallery.min.js')                    // галерея
    +script('js/search.min.js')                     // поиск в шапке
    +script('js/theme.min.js')                      // кастомный файл
    +script('js/b-promo.min.js')
    +script('js/image.min.js')
    +script('js/tabbed-panels.min.js')
    +script('js/block-related-items.min.js')

block content
    +b.head.wrapper.bg-white
        include ../components/hd/hd
        include ../components/hd-m/hd-m
        include ../components/hd-m/search-m-panel/search-m-panel
        include ../components/hd-m/menu-m-panel/menu-m-panel
    +b.region-main
        include ../components/bc/bc-inner-pages
        include ../components/bc-m/bc-m
        include ../components/catalog-item/catalog-item
        include ../components/tabbed-panels/tabbed-panels
        include ../components/block-link-price/block-link-price
        //include ../components/block-catalog-text/block-catalog-docs
        //include ../components/block-catalog-text/block-catalog-vid
        include ../components/block-config-mail-box/block-config-mail-box
        include ../components/block-related-items/block-related-items

        include ../components/block-banner/block-banner
        include ../components/block-features/block-features
        //include ../components/block-about/about
        include ../components/block-choose/block-choose
        .bg-gray
            .container
                include ../components/b-consult/b-consult
    +b.region-footer
        include ../components/ft/ft