// b + b-get-consultation (css, js)
+b.SECTION.b.b-get-consultation.margin
    +e.container
        +e.hd
            +e.H2.title.b__title Получить консультацию
        +e.cont
            +e.wf
                //include ../wf_1/wf-get-consultation_1
            +e.contacts
                //include ../b-contacts-node_1/b-contacts-node_1
// КОНЕЦ: b + b-get-consultation (css, js)
