// block-production
+b.block.block-lg.block-production.bg-white
    .container
        +e.title.H2  Наше производство
        +e.text
            p Собственное производство гарантирует цены до 30% ниже, чем средние по рынку. Работа с крупными дилерами стала возможна после применения современных технологий: технологий производства, технологий учёта, технологий продаж, как путь к снижению себестоимости.
            p Широкий ассортимент продукции завода соответствует потребностям рынка. Став нашим партнёром, Вы получаете качественный, конкурентоспособный и востребованный товар в свою номенклатурную линейку.

        .block-inner
            +e.title.H3 Участок лазерного раскроя металла
            p Все детали будут точно такими, как их задумал конструктор
            +e.gallery
                include ../gallery/gallery-about2
        .block-inner
            +e.title.H3 Участок гибки
            p ЧПУ станки обеспечивают точность процесса гибки
            +e.gallery
                include ../gallery/gallery-about1
        .block-inner
            +e.title.H3 Участок клепки
            p Профессионалы своего дела, вооруженные современным инструментом.
            +e.gallery
                include ../gallery/gallery-about3
        .block-inner
            +e.title.H3 Участок порошковой окраски
            p Для каждого цвета – своя камера окраски.
            +e.gallery
                include ../gallery/gallery-about4
        .block-inner
            +e.title.H3 Участок сварки
            p Окончательная сборка изделий и упаковка
            +e.gallery
                include ../gallery/gallery-about5
        .block-inner
            +e.title.H3 Склад готовой продукции
            p Наши складские ресурсы позволяют поддерживать оперативный месячный запас стандартной продукции.
            +e.gallery
                include ../gallery/gallery-about6



// КОНЕЦ: block-production
