// b + b-instock-page (css)
+b.SECTION.b.b-instock-page.margin#instock-12
    +e.hd
        +e.H2.title
            | Cамосвалы
            span  (1)
    +e.cont
        include ../item-unit/teaser-2/all
+b.SECTION.b.b-instock-page.margin#instock-8
    +e.hd
        +e.H2.title
            | Подсамосвалы
            span  (10)
    +e.cont
        include ../item-unit/teaser-2/all
+b.SECTION.b.b-instock-page.margin#instock-23
    +e.hd
        +e.H2.title
            | Не самосвалы
            span  (100)
    +e.cont
        include ../item-unit/teaser-2/all
// КОНЕЦ: b + b-instock-page (css)
