@import "../../styles/helpers/_helpers";

.b-instock-page {
    .b__cont {
        @include max-screen(767px) {
            flex-direction: column;
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}
