@import "../../styles/helpers/_helpers";

.tags {
    display: none;
    @include min-screen(768px) {
        display: flex;
        margin: 20px 0;
        .tags__tag {
            border-bottom: 0;
            margin: -2px 0;
            display: inline-flex;
            align-items: center;
            padding: 0 28px;
            position: relative;
            color: #333;

            &:after {
                content: '';
                height: 12px;
                width: 1px;
                background: #cdcdcd;
                display: block;
                position: absolute;
                right: 0;
            }

            &:first-child {
                padding-left: 0;

            }

            &:last-child:after {
                display: none;

            }

            &.active {
                color: $color-red;
            }
        }
    }
}
