#toolbar-administration {
    .toolbar-tab {
        position: initial !important;
    }
    li {
        &:before {
            display: none;
        }
    }
    #toolbar-item-administration-tray {
        li {
            margin: 0;
        }
    }
}
