// cart-block
+b.cart-block_empty
    +e.A.link(href="/cart")
        +e.icon
            +e.count 100
        +e.info
            +e.name Корзина
            +e.price
                | 1 000 000
                span.rub p
// КОНЕЦ: cart-block
