// tags_instock (css tags)
+b.tags_instock
    +e.list
        +e.item
            +e.link.A(href="#instock-12") Cамосвалы
        +e.item
            +e.link.A(href="#instock-8") Подсамосвалы
        +e.item
            +e.link.A(href="#instock-23") Не самосвалы
// КОНЕЦ: tags_instock (css tags)
