@import "../../styles/helpers/_helpers";

@media print {
    *,
    body {
        line-height: normal !important;
    }
    body {
        font-size: 24px !important;
    }
    .hd,
    .bc,
    .system-tabs,
    .ft,
    .lb-sale,
    .image__preview,
    .card-unit__btns,
    .card-unit__fav-cmp,
    .card-unit__print-pdf,
    .card-unit__share,
    .st12,
    .st13,
    .item-unit3__btns
    {
        display: none !important;
    }
    .print-header {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        color: #000000 !important;
        border-bottom: 1px solid gray !important;
        margin-bottom: 30px !important;
        clear: both !important;
        height: 100px !important;
        .logo {
            flex: 1;
            img {
                width: 300px;
            }
        }
        .info {
            display: flex !important;
            align-items: center !important;
            text-align: right;
            height: 100px !important;
        }
        .phones {
            color: #000000;
            font-weight: bold;
            font-size: 24px !important;
        }
        .email {
            margin-left: 15px;
        }
    }
    .print-footer {
        display: flex !important;
        justify-content: space-between !important;
        border-top: 1px solid #484f55 !important;
        margin-top: 30px !important;
        padding-top: 15px !important;
        color: #000000 !important;
    }
    .print-footer .copyright {font-weight: 700;}
    .print-footer .phone {font-weight: 700;}
    .page-title {
        margin-bottom: 48px !important;
    }
    .item-unit3 {
        margin-bottom: 10px !important;
    }
    .item-unit3__image {
        margin: 0 !important;
    }
    .item-unit3__info {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .item-unit3__name {
        font-size: inherit !important;
    }
    .item-unit3__cont {
        flex: 2 !important;
    }
    .item-unit3__commerce {
        flex: 1 !important;
        .price_new,
        .price_current {
            font-size: inherit !important;
        }
    }
    .card-unit__b {
        padding: 0 0 0 30px !important;
    }
    .card-unit__b .price__value,
    .card-unit__b .rouble {
        font-size: 36px !important;
    }
    .card-unit__b-title,
    .card-unit__phone a {
        font-size: inherit !important;
    }
    .presence_in {
        span {
            padding-left: 0 !important;
            &:before {
                display: none !important;
            }
        }
    }
    .image,
    .image img {
        width: 550px !important;
    }
    .image__big,
    .image__big .image__item {
        height: auto !important;
    }
    .st11__cont {
        flex-direction: column-reverse !important;
    }
    ol li {
        padding-left: 15px !important;
    }
    .st10__cont {
        padding: 0 !important;
    }
}
