// b + b-news (css)
+b.b.b-news
    +e.hd
        +e.H2.title Акции и новости
        +btnLink('news-list.html', 'link _icon-right _arrow-right', '') cмотреть все
    +e.cont
        //include ../item-news/teaser-1/front
    +e.ft
        +btnLink('#', 'secondary _size-2', '') cмотреть все
// КОНЕЦ: b + b-news (css)
