// nv-pg-2
+b.nv-pg-2
	+e.cont
		+e.container.container
			+e.item
				+e.link.A(href='#st34')
					span
						span Варианты исполнения
			+e.item
				+e.link.A(href='#st38')
					span
						span Оборудование
			+e.item
				+e.link.A(href='#st35')
					span
						span Описание и характеристики
			+e.item
				+e.link.A(href='#st40')
					span
						span Особенности
			+e.item
				+e.link.A(href='#st41')
					span
						span Доработки
// КОНЕЦ: nv-pg-2 
