@import "../../styles/helpers/_helpers";

.search-m-btn {
	width: 52px;
	height: 52px;
	background-color: #4b5053;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 0 0 auto;
    span {
        position: relative;
        // @include svgsprite(search-02);
    }
}
