// hd-m
+b.hd-m
    +e.inner
        include ./burger/burger
        +e.cont
            include ./logo-m/logo-m
            //- include ../dealer/dealer
        include ./phone-m-btn/phone-m-btn
        include ./search-m-btn/search-m-btn
// КОНЕЦ: hd-m
