// block-control
+b.block.block-control.block-lg.bg-white
    .container
        +e.content
            +e.title
                h2 Контроль качества на предприятии
            +e.text
                p Отдел по контролю качества завода осуществляет тщательный контроль выпускаемой продукции  и качества обслуживания наших клиентов.

            +e.items
                +e.item Строго следуем требованиям стандартов и ТУ.
                +e.item Организуем индивидуальные и удобные условия работы с каждым клиентом.
                +e.item Гарантируем  соблюдение точных сроков поставки.
                +e.item Продукция, поступающая на отгрузку, надежно упакована в плотный картон и стрейч-плёнку.
                +e.item Заменим брак за свой счет в срок до 14 дней.
            +e.text
                p За 15 лет на рынке мы опробовали различные технологии производства и выбрали те, благодаря которым изделия служат долгие годы и сохраняют свой первозданнй вид. Сделав свой выбор в пользу продукции ТМ«FerrumFormat», вы получите качественный, конкурентоспособный и востребованный товар в свою номенклатурную линейку.

// КОНЕЦ: block-control
