// b + b-descr (css)
+b.SECTION.b.b-descr.margin
    +e.hd
        +e.H2.title Описание
    +e.cont
        p Стандартная комплектация:
        ul
            li Противооткатные упоры
            li Система ABS
            li Пневмопривод тормозов Wabco (Германия)
            li Корзина запасного колеса
            li Боковая откидная защита Suer (Германия) с обеих сторон
        p Стандартная комплектация:
        ol
            li Противооткатные упоры
            li Система ABS
            li Пневмопривод тормозов Wabco (Германия)
            li Корзина запасного колеса
            li Боковая откидная защита Suer (Германия) с обеих сторон
            li Противооткатные упоры
            li Система ABS
            li Пневмопривод тормозов Wabco (Германия)
            li Корзина запасного колеса
            li Боковая откидная защита Suer (Германия) с обеих сторон
        p Задний подъемный буфер, инструментальный ящик, крепежные элементы – увязочные петли, утопленные в настил, увязочные кольца по боковому лонжерону снизу, подножки.
        p Соединительные электрические розетки, брызговики, буксировочные петли в задней части рамы, проводка, предусматривающая подключение проблескового маячка.
// КОНЕЦ: b + b-descr (css)
