// tags
+b.tags
    +e.list
        +e.item
            +e.link_presence.A(href="#") Вахтовые автобусы Урал в наличии
        +e.item
            +e.link.A(href="#") Вахтовые автобусы Урал Next
        +e.item
            +e.link.A(href="#") Вахтовые автобусы Урал с грузовым отсеком
        +e.item
            +e.link.A(href="#") Вахтовые автобусы Урал Next
        +e.item
            +e.link.A(href="#") Вахтовые автобусы Урал 4×4
        +e.item
            +e.link.A(href="#") Вахтовые автобусы Урал 20 мест
// КОНЕЦ: tags
