@import "../../styles/helpers/_helpers";

.block-catalog-text {
    font-weight: 500;

   .block-catalog-text__content {
       background-color: #fff;
       padding: 45px;
       display: flex;
       justify-content: space-between;
       .block-catalog-text__first-col {
           flex: 1;
       }
   }


}

.block-catalog-vid iframe {
    width: 100%;
    height: 30vw;
}
.block-catalog-text__links {
    text-align: center;
}
