// block-catalog-text
+b.block-catalog-text.block-catalog-docs.block-inner
    .container
        +e.items.bg-white
            +e.item
                +b.btn.btn_pdf-list.A Папорт изделия
            +e.item
                +b.btn.btn_pdf-list.A Инструкция по сборке
            +e.item
                +b.btn.btn_pdf-list.A Гарантийный талон


// КОНЕЦ: block-catalog-text
