// block-catalog-text
+b.block-catalog-text.block-catalog-vid.block-inner
    .container
        +e.links.block-inner-80-105
            A.btn.btn_primary.btn_lg.btn_download.btn_radius-lg(href="#") Получить оптовый прайс лист
// КОНЕЦ: block-catalog-text
