// block-catalog-text
+b.block-catalog-text.block-inner
    .container
        +e.content
            +e.first-col
                table
                    tr
                        td Габариты
                        td 370 х 380 х 180 мм
                    tr
                        td Способ установки
                        td Для крепления на стену
                    tr
                        td Покрытие
                        td Полимерно-порошковое
                    tr
                        td Материал изготовления корпуса
                        td Сталь 0.6 мм
                    tr
                        td Возможность эксплуатации на открытом воздухе
                        td Нет
                    tr
                        td Тип загрузки корреспонденции
                        td Через прорезь в фасадной части
                    tr
                        td Количество секций
                        td 2 секции
                    tr
                        td Количество ключей в комплекте
                        td 2 шт закрепляется к каждой секции
                    tr
                        td Наличие замка
                        td Установлен
            +e.second-col
                img(src="img/product/2nd-col.png")

// КОНЕЦ: block-catalog-text
