// b + b-shipment (css, js)
+b.b.SECTION.b-shipment.margin
    +e.hd
        +e.H2.title Последние отгрузки
        +btnLink('shipment-list.html', 'link _icon-right _arrow-right', '') cмотреть все
    +e.cont
        //include ../arrows_1/arrows-3
        +e.list
            +e.list-inner
                //include ../item-shipment/teaser-1/item-shipment-teaser-1_1
    +e.ft
        +e.dots.dots_style1
        +btnLink('#', 'secondary _size-2', '') cмотреть все
// КОНЕЦ: b + b-shipment (css, js) 
