.compare-table.margin

  .compare-table__header
  
    .compare-table__characteristic-type-toggle.characteristic-type-toggle
      .characteristic-type-toggle__label Показать:
      .characteristic-type-toggle__item.active
        a(href="#all") Все характеристики
      .characteristic-type-toggle__item
        a(href="#different") Только различия
        
    .compare-table__row(data-row='s-row1').different.compare-table__row-cont
      .compare-table__col Количество мест
    .compare-table__row(data-row='s-row2').compare-table__row-cont
      .compare-table__col Базовое шасси
    .compare-table__row(data-row='s-row3').compare-table__row-cont
      .compare-table__col Колесная формула
    .compare-table__row(data-row='s-row4').different.compare-table__row-cont
      .compare-table__col Мощность двигателя
    .compare-table__row(data-row='s-row5').compare-table__row-cont
      .compare-table__col Модель двигателя
    .compare-table__row(data-row='s-row6').compare-table__row-cont
      .compare-table__col КПП
    .compare-table__row(data-row='s-row7').compare-table__row-cont
      .compare-table__col Шины
    .compare-table__row(data-row='s-row8').compare-table__row-cont
      .compare-table__col Топливный бак
    .compare-table__row(data-row='s-row9').different.compare-table__row-cont
      .compare-table__col Внутренние размеры кузова-фургона
    
  .compare-table__content
    .compare-table__content-inner
      .compare-table__row.compare-table__row-header
        .compare-table__col.compare-table__col-header.compare-table__col-value
          .compare-table__product-name
            a(href="#") Автобус
          .compare-table__product-image
            img(src="img/test-image-15.jpg", alt="")
        .compare-table__col.compare-table__col-value
          .compare-table__product-name
            a(href="#") Автобус вахтовый 22 базовый УСТ 54535 Камаз 43118-46
          .compare-table__product-image
            img(src="img/test-image-15.jpg", alt="")
        .compare-table__col.compare-table__col-value
          .compare-table__product-name
            a(href="#") Автобус вахтовый 22 базовый УСТ 54535 Камаз 43118-46
          .compare-table__product-image
            img(src="img/test-image-15.jpg", alt="")
        .compare-table__col.compare-table__col-value
          .compare-table__product-name
            a(href="#") Автобус вахтовый 22 базовый УСТ 54535 Камаз 43118-46
          .compare-table__product-image
            img(src="img/test-image-15.jpg", alt="")
        .compare-table__col.compare-table__col-value
          .compare-table__product-name
            a(href="#") Автобус вахтовый 22 базовый УСТ 54535 Камаз 43118-46
          .compare-table__product-image
            img(src="img/test-image-15.jpg", alt="")
        .compare-table__col.compare-table__col-value
          .compare-table__product-name
            a(href="#") Автобус вахтовый 22 базовый УСТ 54535 Камаз 43118-46
          .compare-table__product-image
            img(src="img/test-image-15.jpg", alt="")
      .compare-table__row(data-row='s-row1').different.compare-table__row-cont
        .compare-table__col.compare-table__col-value 22
        .compare-table__col.compare-table__col-value 23
        .compare-table__col.compare-table__col-value 24
        .compare-table__col.compare-table__col-value 25
        .compare-table__col.compare-table__col-value 26
        .compare-table__col.compare-table__col-value 27
      .compare-table__row(data-row='s-row2').compare-table__row-cont
        .compare-table__col.compare-table__col-value Камаз 43118-3027-46
        .compare-table__col.compare-table__col-value Камаз 43118-3027-46
        .compare-table__col.compare-table__col-value Камаз 43118-3027-46
        .compare-table__col.compare-table__col-value Камаз 43118-3027-46
        .compare-table__col.compare-table__col-value Камаз 43118-3027-46
        .compare-table__col.compare-table__col-value Камаз 43118-3027-46
      .compare-table__row(data-row='s-row3').compare-table__row-cont
        .compare-table__col.compare-table__col-value 6х6
        .compare-table__col.compare-table__col-value 6х6
        .compare-table__col.compare-table__col-value 6х6
        .compare-table__col.compare-table__col-value 6х6
        .compare-table__col.compare-table__col-value 6х6
        .compare-table__col.compare-table__col-value 6х6
      .compare-table__row(data-row='s-row4').different.compare-table__row-cont
        .compare-table__col.compare-table__col-value 300 л.с.
        .compare-table__col.compare-table__col-value 400 л.с.
        .compare-table__col.compare-table__col-value 500 л.с.
        .compare-table__col.compare-table__col-value 600 л.с.
        .compare-table__col.compare-table__col-value 700 л.с.
        .compare-table__col.compare-table__col-value 800 л.с.
      .compare-table__row(data-row='s-row5').compare-table__row-cont
        .compare-table__col.compare-table__col-value 740.662-300
        .compare-table__col.compare-table__col-value 740.662-300
        .compare-table__col.compare-table__col-value 740.662-300
        .compare-table__col.compare-table__col-value 740.662-300
        .compare-table__col.compare-table__col-value 740.662-300
        .compare-table__col.compare-table__col-value 740.662-300
      .compare-table__row(data-row='s-row6').compare-table__row-cont
        .compare-table__col.compare-table__col-value ZF9, механическая, 9-ступенчатая
        .compare-table__col.compare-table__col-value ZF9, механическая, 9-ступенчатая
        .compare-table__col.compare-table__col-value ZF9, механическая, 9-ступенчатая
        .compare-table__col.compare-table__col-value ZF9, механическая, 9-ступенчатая
        .compare-table__col.compare-table__col-value ZF9, механическая, 9-ступенчатая
        .compare-table__col.compare-table__col-value ZF9, механическая, 9-ступенчатая
      .compare-table__row(data-row='s-row7').compare-table__row-cont
        .compare-table__col.compare-table__col-value 425/85 R21
        .compare-table__col.compare-table__col-value 425/85 R21
        .compare-table__col.compare-table__col-value 425/85 R21
        .compare-table__col.compare-table__col-value 425/85 R21
        .compare-table__col.compare-table__col-value 425/85 R21
        .compare-table__col.compare-table__col-value 425/85 R21
      .compare-table__row(data-row='s-row8').compare-table__row-cont
        .compare-table__col.compare-table__col-value 350 + 210 л
        .compare-table__col.compare-table__col-value 350 + 210 л
        .compare-table__col.compare-table__col-value 350 + 210 л
        .compare-table__col.compare-table__col-value 350 + 210 л
        .compare-table__col.compare-table__col-value 350 + 210 л
        .compare-table__col.compare-table__col-value 350 + 210 л
      .compare-table__row(data-row='s-row9').different.compare-table__row-cont
        .compare-table__col.compare-table__col-value 5 600×2 460 мм
        .compare-table__col.compare-table__col-value 5 600×2 460 мм
        .compare-table__col.compare-table__col-value 5 600×2 460 мм
        .compare-table__col.compare-table__col-value 5 600×2 460 мм
        .compare-table__col.compare-table__col-value 5 600×2 460 мм
        .compare-table__col.compare-table__col-value 5 600×2 460 мм
        
      .compare-table__row(data-row='s-row10').compare-table__row-prices.different
        .compare-table__col.compare-table__col-value
          .info
            .prices
              .prices__price
                | 3 085 200 р.
                .product__special суперцена
              .product__price.prices__price_from-factory
                span Цена завода: 
                span 3 349 600 р.
            .units
              .units-in-stock
                span 4 
                | в наличии
              .expected-units
                span 10 
                | ожидается
          .links
            .btn.btn_type2.btn_size-3
              a(href="#").fs13.autodialog Оформить заявку
          include ../postpone/postpone
          .remove-item
            a(href="#") Удалить товар из списка
        
        .compare-table__col.compare-table__col-value
          .info
            .prices
              .prices__price
                | 3 085 200 р.
            .units
              .units-in-stock
                span 4 
                | в наличии
          .links
            .btn.btn_type2.btn_size-3
              a(href="#").fs13.autodialog Оформить заявку
          include ../postpone/postpone
          .remove-item
            a(href="#") Удалить товар из списка
        
        .compare-table__col.compare-table__col-value
          .info
            .prices
              .prices__price
                | 3 085 200 р.
            .units
              .units-in-stock
                span 4 
                | в наличии
          .links
            .btn.btn_type2.btn_size-3
              a(href="#").fs13.autodialog Оформить заявку
          include ../postpone/postpone
          .remove-item
            a(href="#") Удалить товар из списка
        
        .compare-table__col.compare-table__col-value
          .info
            .prices
              .prices__price
                | 3 085 200 р.
            .units
              .expected-units
                span 10 
                | ожидается
          .links
            .btn.btn_type2.btn_size-3
              a(href="#").fs13.autodialog Оформить заявку
          include ../postpone/postpone
          .remove-item
            a(href="#") Удалить товар из списка
        
        .compare-table__col.compare-table__col-value
          .info
            .prices
              .prices__price
                | 3 085 200 р.
              .product__price.prices__price_from-factory
                span Цена завода: 
                span 3 349 600 р.
            .units
              .units-in-stock
                span 4 
                | в наличии
              .expected-units
                span 10 
                | ожидается
          .links
            .btn.btn_type2.btn_size-3
              a(href="#").fs13.autodialog Оформить заявку
          include ../postpone/postpone
          .remove-item
            a(href="#") Удалить товар из списка
        
        .compare-table__col.compare-table__col-value
          .info
            .prices
              .prices__price
                | 3 085 200 р.
              .product__price.prices__price_from-factory
                span Цена завода: 
                span 3 349 600 р.
            .units
              .units-in-stock
                span 4 
                | в наличии
              .expected-units
                span 10 
                | ожидается
          .links
            .btn.btn_type2.btn_size-3
              a(href="#").fs13.autodialog Оформить заявку
          include ../postpone/postpone
          .remove-item
            a(href="#") Удалить товар из списка
