// item-news
+b.item-news
    +e.image
        a(href="#")
            img(src="img/news/news.jpg", alt="Новость")
    +e.content
        +e.title
            a(href="#")
                h3 При покупке почтовых ящиков — номерные шильды в подарок!
        +e.date 15.04.2020
        +e.text
            p Пример текста новости про новость про выгодную покупку. Здесь будет краткий текст новости. Если актуальных новостей нет, то весь блок будет отсутствовать, а если новостей несколько, то будет прокрутка.

// КОНЕЦ: item-news
