// block-preim
+b.block.block-lg.block-preim
    .container
        +e.content
            +e.title
                h2 Преимущества нашего завода
            +e.items
                +e.item Современнные технологии призводства
                +e.item Широкий ассортимент продукции
                +e.item Большой запас товара на складе
                +e.item Оперативная обработка заказов
                +e.item Оптимизированная система логистики
                +e.item Бесплатные образцы товаров при заключении дилерского договора
// КОНЕЦ: block-preim
