@import "../../styles/helpers/_helpers";

.block-preim {
    .block__items {
        display: grid;
        grid-template: auto/1fr 1fr;
        grid-gap: 40px;
        @include max-screen(767px) {
            grid-template: auto/1fr;
            grid-gap: 30px;
        }
    }
    .block__item {
        font-size: 20px;
        font-weight: 500;
        position: relative;
        line-height: 28px;
        align-items: center;
        padding-left: 45px;
        @include max-screen(767px) {
            padding-left: 40px;
        }
        @include max-screen(1024px) {
            font-size: 15px;
        }
        &:before {
            content: '';
            position: absolute;
            width: 30px;
            left: 0;
            @include max-screen(767px) {
                scale: 0.66;
            }

            @include svgsprite(checkicon);
        }
    }
}
