// block-also
+b.block.block-lg.block-also.bg-white
    .container
        +e.H2.title Вас также заинтересуют
        +e.content
            +e.items
                include ../item-catalog/teaser1/block-3pcs
// КОНЕЦ: block-also
