// social (css)
+b.social
    //+e.label Мы в соцсетях:
    +e.list
        +e.link_youtube.A(href="#", target="_blank") Youtube
        +e.link_insta.A(href="#", target="_blank") Instagramm
        +e.link_fb.A(href="#", target="_blank") Facebook
// КОНЕЦ: social (css)
