// b + b-contacts-node (css)
+b.b.b-contacts-node
    +e.hd
        +e.H2.title Связаться с нами
    +e.cont
        +e.phone
            a(href="tel:88005555555") 8 800 555-55-55
        +e.phone
            a(href="tel:87777777777") 8 777 777-77-77
        +e.phone
            a(href="tel:88000000000") 8 800 000-00-00
        +e.email
            a(href="mailto:zakaz@atm74.com") zakaz@companyname.com
// КОНЕЦ: b + b-contacts-node (css)
