// block-choose
+b.block.block-choose.bg-white
    .container
        +e.title.H2 Почему выбирают наш завод
        +e.content
            +b.item-choose
                +e.image
                    img(src="img/icons-color/clever-construct.svg")
                +e.title.H3 Конструкция изделий продумана до мелочей

            +b.item-choose
                +e.image
                    img(src="img/icons-color/three-days.svg")
                +e.title.H3 Изготовим под заказ за 3 дня!
            +b.item-choose
                +e.image
                    img(src="img/icons-color/cheap-price.svg")
                +e.title.H3 Цены до 30% ниже, чем у конкурентов
            +b.item-choose
                +e.image
                    img(src="../img/icons-color/backall.svg")
                +e.title.H3 Легкий возврат в случае брака
// КОНЕЦ: block-choose
