// block.block-partners (css, js)
+b.block.block-partners.block-partners-front.bg-white
    .container
        +e.content
            +e.title
                H2 С нами уже работают
                +e.link
                    include ../arrows/arrows
            +e.items
                +e.items-inner
                    +b.item.item-unit
                        img(src="img/partners/19.png")
                    +b.item.item-unit
                        img(src="img/partners/20.png")
                    +b.item.item-unit
                        img(src="img/partners/21.png")
                    +b.item.item-unit
                        img(src="img/partners/22.png")
                    +b.item.item-unit
                        img(src="img/partners/23.png")
                    +b.item.item-unit
                        img(src="img/partners/25.png")


// КОНЕЦ: block.block-partners (css, js)
