// block.block-partners (css, js)
+b.block.block-partners.block-partners-front
    .container
        +e.content
            +e.title
                H2 Нашу продукцию выбирают
                +e.link
                    include ../arrows/arrows
            +e.items
                +e.items-inner
                    +b.item.item-unit
                        img(src="img/partners/19.jpg")
                    +b.item.item-unit
                        img(src="img/partners/20.jpg")
                    +b.item.item-unit
                        img(src="img/partners/21.jpg")
                    +b.item.item-unit
                        img(src="img/partners/22.jpg")
                    +b.item.item-unit
                        img(src="img/partners/23.jpg")
                    +b.item.item-unit
                        img(src="img/partners/25.jpg")


// КОНЕЦ: block.block-partners (css, js)
