// gallery
// пресет 270x270
+b.gallery.margin
    +e.list
        +e.item
            a(href="img/temp/gallery/270x270/01.jpg")
                img(src="img/temp/gallery/270x270/01.jpg", alt="")
        +e.item
            a(href="img/temp/gallery/270x270/01.jpg")
                img(src="img/temp/gallery/270x270/01.jpg", alt="")
        +e.item
            a(href="img/temp/gallery/270x270/01.jpg")
                img(src="img/temp/gallery/270x270/01.jpg", alt="")
        +e.item
            a(href="img/temp/gallery/270x270/01.jpg")
                img(src="img/temp/gallery/270x270/01.jpg", alt="")
        +e.item
            a(href="img/temp/gallery/270x270/01.jpg")
                img(src="img/temp/gallery/270x270/01.jpg", alt="")
        +e.item
            a(href="img/temp/gallery/270x270/01.jpg")
                img(src="img/temp/gallery/270x270/01.jpg", alt="")
// КОНЕЦ: gallery
