// block-config-mail-box
+b.block.block-config-mail-box.block-80-80.bg-white
    +e.image
        include ../../img/icons-color/config-mail-box.svg
    +e.H2.title Конфигуратор почтовых ящиков
    +e.content
        p Выберите самостоятельно подходящие размеры, нюансы, цвет иполучите коммерческое предложение от завода!
    +e.links
        A.btn.btn_primary.btn_radius(href="#") Собрать свою конфигурацию
// КОНЕЦ: block-config-mail-box
