// block-number-section
+b.block-number-section.block-inner
    .container
        +e.content
            +e.items
                include ../item-number-section/item-number-section
// КОНЕЦ: block-number-section
