@import "../../styles/helpers/_helpers";

.update {
    margin-bottom: 24px;
}
.update__status {
    display: flex;
    font-size: 16px;
    margin-bottom: 10px;
}
.update__name {
    font-weight: 500;
    margin-right: 13px;
}
.update__time {
    margin-right: 10px;
}
.update__descr {
    font-size: 12px;
    line-height: 17px;
    color: #a7a7aa;
    padding-left: 23px;
    &:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        // @include sprite($i);
    }
}
