// update
+b.update
    +e.status
        +e.name Последнее обновление:
        +e.time 16:50
        +e.date 28.12.2018
    +e.descr Цены на сайте носят информационный характер, актуальную стоимость запчастей уточняйте у наших менеджеров.
// КОНЕЦ: update
