// main-content
+b.main-content
    .container
        +e.content
            h1 Новости и акции предприятия
            include ../tags/tags
            include ../block-page-news/block-page-news
        +e.links
            A.btn.btn_secondary.btn_radius(href="#") Показать еще
// КОНЕЦ: main-content
