// main-content

+b.block.main-content
    .container
        +e.content
            h2 Тамбурные металлические двери FERRUMFORMAT
            p Собственное производство гарантирует отменное качество и цены до 30% ниже, чем средние по рынку!
            p Тамбурные металлические двери устанавливается на лестничных площадках многоквартирных домов, на основных и пожарных выходах офисных и административных зданий, а также в магазинах и многих других учреждениях.
            p Представляем модельный ряд противопожарных металлических дверей торговой марки FerrumFormat.
            table
                tr
                    th Высота/Ширина
                    th 2100мм
                    th 2050
                    th 2000
                    th 1200
                    th 1250
                    th 1300
                    th 1350
                    th 1400
                    th 1450
                    th 1500
                tr
                    td 950
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                tr
                    td Розничная цена
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                tr
                    th Высота/Ширина
                    th 2100мм
                    th 2050
                    th 2000
                    th 1200
                    th 1250
                    th 1300
                    th 1350
                    th 1400
                    th 1450
                    th 1500
                tr
                    td 950
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                    td
                        img(src="img/product/2xbox.png", alt="img/product/2xbox.png")
                tr
                    td Розничная цена
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
                    td 18 321₽
            +b.block-inner
                h2 Особенности наших дверей
                ul
                    li Внутренняя и внешняя сторона двери изготовлена из стали толщиной 1 мм.
                    li Коробка двери изготовлена из профиля 40×40 мм.
                    li Внутри двери установлены продольные рёбра жёсткости.
                    li Базальтовый утеплитель внутри двери.
                    li Полимерно-порошковое покрытие (цвет светло-серый RAL 7035 в стандартном исполнении).
                    li Усиленные петли на шарикоподшипниках.
                    li Замок-защёлка без ключа с противопожарной ручкой.
                    li Антивандальное крепление фурнитуры на стальных клёпках.
                    li Установлены две внешние задвижки с внутренней стороны.
                    li Уплотнитель двери D-образный.
                    li Идеальная геометрия.
                    li Изготовлено по ГОСТу 31137-2016
                    li Возможно левое и правое исполнение.
                +e.links
                    A.btn.btn_link.btn_pdf-list(href="#")
                        span Сравнительная таблица всех серий секционных почтовых ящиков

        +e.links
            A.btn.btn_primary.btn_lg.btn_download.btn_radius-lg(href="#") Получить оптовый прайс лист







// КОНЕЦ: main-content
