// b + b-location-map (css)
+b.SECTION.b.b-location-map.margin
    +e.hd
        +e.H2.title Схема
    +e.cont
        script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A898167342e4bb2b2188918b2116aa56418f29dfa2f601442f40726bd3065c85a&width=100%25&height=313&lang=ru_RU&scroll=false')
// КОНЕЦ: b + b-location-map (css)
