// Вся плашка является ссылкой
// item + item-[тип материала]-[вид отображения] (css)
+b.item.item-[тип материала]-[вид отображения]
    +e.link.A(href="#")
        +e.image
            img(src="URL_IMG", alt="")
        +e.article АРТИКУЛ
        +e.price ЦЕНА
        +e.presence В НАЛИЧИИ ИЛИ ПОД ЗАКАЗ
        +e.basket КНОПКА "ДОБАВИТЬ В КОРЗИНУ" И ПОЛЕ С ВЫБОРОМ КОЛИЧЕСТВА ДОБАВЛЯЕМОГО ТОВАРА
        +e.name НАЗВАНИЕ
        +e.body ОПИСАНИЕ (МОЖЕТ СОДЕРЖАТЬ ТЕГИ "P", "TABLE", "UL", "OL")
        +e.sublist
            ul
                li Элемент 1
                li Элемент 2
// КОНЕЦ: item + item-[тип материала]-[вид отображения] (css)

//- ИЛИ

// Отдельная ссылка для изображения и заголовка
// item + item-[тип материала]-[вид отображения] (css)
+b.item.item-[тип материала]-[вид отображения]
    +e.image
        a(href="#") 
            img(src="URL_IMG", alt="")
    +e.article АРТИКУЛ
    +e.price ЦЕНА
    +e.presence В НАЛИЧИИ ИЛИ ПОД ЗАКАЗ
    +e.basket КНОПКА "ДОБАВИТЬ В КОРЗИНУ" И ПОЛЕ С ВЫБОРОМ КОЛИЧЕСТВА ДОБАВЛЯЕМОГО ТОВАРА
    +e.name
        +e.link.A(href="#") НАЗВАНИЕ
    +e.body ОПИСАНИЕ (МОЖЕТ СОДЕРЖАТЬ ТЕГИ "P", "TABLE", "UL", "OL")
    +e.sublist
        ul
            li Элемент 1
            li Элемент 2
// КОНЕЦ: item + item-[тип материала]-[вид отображения] (css)
