// b-promo (css, js)
- var item = 11;
+b.SECTION.b-promo.margin
    //- include ../arrows_1/arrows-1
    +e.list
        +e.list-wrapper
            - for (var i=1; i<=item; i++)
                +e.item
                    +e.image
                        img(src='/img/temp/promo/' + i + '.jpg', alt='')
                    +e.container.container
                        +e.title
                            p
                                | Поставка грузовых автомобилей
                                br
                                | и спецтехники
    +e.dots.dots.container
// КОНЕЦ: b-promo (css, js)
