// b + b-characteristic (css, js)
// пресет для схемы: 750x536
+b.SECTION.b.b-characteristic.margin
    +e.hd
        +e.H2.title Характеристики
    +e.cont
        +e.table
            h4 Характеристики шасси
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae distinctio, adipisci explicabo, quo tempore nesciunt minima incidunt repellat laborum cumque, eaque possimus. Autem quaerat, officia dolor similique neque earum iusto corrupti dolorem temporibus ratione, dignissimos incidunt illum, minima. Debitis nisi enim, incidunt. Dolores, saepe quisquam enim excepturi. Assumenda quidem minima quae earum iure. Facilis voluptatum incidunt, dicta, officia nam porro eos quidem illo excepturi sit minima laboriosam laudantium. Iure iste dicta tenetur cupiditate, unde quibusdam repellendus, dolorum totam maiores praesentium nam, aut rerum.
            table
                tbody
                    tr
                        td Масса перевозимого груза, кг
                        td 18000 / 22000
                    tr
                        td Подвеска
                        td Рессорно-балансирная
                    tr
                        td Оси
                        td HJ, SAF, L1, BPW, Gigant (по желанию заказчика)
                    tr
                        td Количество колес (в том числе запасных), шт.
                        td 4 (1)
                    tr
                        td Шины пневматические
                        td 425/85R21
                    tr
                        td Шкворень GF (Германия)
                        td 2 дюйма (50,8 мм)
                    tr
                        td Настил
                        td «Чечевица»
                    tr
                        td Борта
                        td
                            | Сталь рифленая на листогибе, 10 боковых,
                            br
                            | 1 задний
                    tr
                        td Система открывания бортов
                        td
                            | Система фиксации бортов с 2
                            br
                            | положениями
                            br
                            | (1 положение – фиксация бортов, 2 положение – фиксация стоек бортов)
                            br
                            | Борта откидные и съемные
                            br
                            | Стойки бортов откидные и съемные
                    tr
                        td Передний борт
                        td
                            | Усиленный, отбойный
                            br
                            | Высота не менее 1500 мм
                    tr
                        td Параметры коников
                        td
                            | Из квадратной трубы сечением не менее 100х100 мм, с петлями для увязки
                            br
                            | 5 пар
                            br
                            | Внутренняя ширина в сдвинутом
                            br
                            | положении – 2270 мм
                            br
                            | Внутренняя ширина раздвижки – 3270 мм
                            br
                            | Высота – 1400 мм
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae distinctio, adipisci explicabo, quo tempore nesciunt minima incidunt repellat laborum cumque, eaque possimus. Autem quaerat, officia dolor similique neque earum iusto corrupti dolorem temporibus ratione, dignissimos incidunt illum, minima. Debitis nisi enim, incidunt. Dolores, saepe quisquam enim excepturi. Assumenda quidem minima quae earum iure. Facilis voluptatum incidunt, dicta, officia nam porro eos quidem illo excepturi sit minima laboriosam laudantium. Iure iste dicta tenetur cupiditate, unde quibusdam repellendus, dolorum totam maiores praesentium nam, aut rerum.
        +e.scheme
            a(href='img/temp/scheme/01.jpg')
                img(alt='' src='img/temp/scheme/01.jpg')
// КОНЕЦ: b + b-characteristic (css, js)
