// nv-pg
+b.nv-pg
    +e.inner
        +e.hd переход к разделу
        +e.cont
            +e.item
                +e.link.active.A(href='#st16-item-0') Седельные тягачи
            +e.item
                +e.link.A(href='#st16-item-1') Вахтовые автобусы
            +e.item
                +e.link.A(href='#st16-item-2') Самосвалы
            +e.item
                +e.link.A(href='#st16-item-3') Автотопливозаправщики (АТЗ)
            +e.item
                +e.link.A(href='#st16-item-4') Автокраны
            +e.item
                +e.link.A(href='#st16-item-5') Лесовозы
            +e.item
                +e.link.A(href='#st16-item-6') Трубоплетевозы
            +e.item
                +e.link.A(href='#st16-item-7') Прицепы-роспуски
// КОНЕЦ: nv-pg
