// bc
+b.bc
  +e.link.A(href="#") Главная
  +e.sep.SPAN >
  +e.link.A(href="#") Каталог запчастей
  +e.sep.SPAN >
  +e.link.A(href="#") Двигатель
  +e.sep.SPAN >
  +e.last.SPAN Крышка люка картера маховика
// КОНЕЦ: bc
