// gallery (css, js)
// пресет 360x257
+b.gallery.swiper-container
    .swiper-wrapper
        .swiper-slide
            a(href="img/about/01.png")
                img(src="img/about/01.png", alt="")
        .swiper-slide
            a(href="img/about/02.png")
                img(src="img/about/02.png", alt="")
        .swiper-slide
            a(href="img/about/03.png")
                img(src="img/about/03.png", alt="")
        .swiper-slide
            a(href="img/about/01.png")
                img(src="img/about/01.png", alt="")
        .swiper-slide
            a(href="img/about/02.png")
                img(src="img/about/02.png", alt="")
        .swiper-slide
            a(href="img/about/03.png")
                img(src="img/about/03.png", alt="")

    .swiper-pagination

// КОНЕЦ: gallery (css, js)
