// gallery (css, js)
// пресет 360x257
+b.gallery.swiper-container
    .swiper-wrapper
        .swiper-slide
            a(href="img/about/_1.png")
                img(src="img/about/_1.png", alt="")
        .swiper-slide
            a(href="img/about/_2.png")
                img(src="img/about/_2.png", alt="")
        .swiper-slide
            a(href="img/about/_3.png")
                img(src="img/about/_3.png", alt="")
        .swiper-slide
            a(href="img/about/_1.png")
                img(src="img/about/_1.png", alt="")
        .swiper-slide
            a(href="img/about/_2.png")
                img(src="img/about/_2.png", alt="")
        .swiper-slide
            a(href="img/about/_3.png")
                img(src="img/about/_3.png", alt="")

    .swiper-pagination

// КОНЕЦ: gallery (css, js)
