// gallery (css, js)
// пресет 360x257
+b.gallery.swiper-container
    .swiper-wrapper
        .swiper-slide
            a(href="img/about/__1.png")
                img(src="img/about/__1.png", alt="")
        .swiper-slide
            a(href="img/about/__2.png")
                img(src="img/about/__2.png", alt="")
        .swiper-slide
            a(href="img/about/__3.png")
                img(src="img/about/__3.png", alt="")
        .swiper-slide
            a(href="img/about/__1.png")
                img(src="img/about/__1.png", alt="")
        .swiper-slide
            a(href="img/about/__2.png")
                img(src="img/about/__2.png", alt="")
        .swiper-slide
            a(href="img/about/__3.png")
                img(src="img/about/__3.png", alt="")

    .swiper-pagination

// КОНЕЦ: gallery (css, js)
