// gallery (css, js)
// пресет 360x257
+b.gallery.swiper-container
    .swiper-wrapper
        .swiper-slide
            a(href="img/about/1.png")
                img(src="img/about/1.png", alt="")
        .swiper-slide
            a(href="img/about/2.png")
                img(src="img/about/2.png", alt="")
        .swiper-slide
            a(href="img/about/3.png")
                img(src="img/about/3.png", alt="")
        .swiper-slide
            a(href="img/about/4.png")
                img(src="img/about/4.png", alt="")
        .swiper-slide
            a(href="img/about/5.png")
                img(src="img/about/5.png", alt="")
        .swiper-slide
            a(href="img/about/6.png")
                img(src="img/about/6.png", alt="")
        .swiper-slide
            a(href="img/about/7.png")
                img(src="img/about/7.png", alt="")
        .swiper-slide
            a(href="img/about/8.png")
                img(src="img/about/8.png", alt="")
    .swiper-pagination

// КОНЕЦ: gallery (css, js)
