// gallery (css, js)
// пресет 360x257
+b.gallery.margin
    +e.list
        +e.item
            a(href="img/temp/text-gallery/01.jpg")
                img(src="img/temp/text-gallery/01.jpg", alt="")
        +e.item
            a(href="img/temp/text-gallery/02.jpg")
                img(src="img/temp/text-gallery/02.jpg", alt="")
        +e.item
            a(href="img/temp/text-gallery/03.jpg")
                img(src="img/temp/text-gallery/03.jpg", alt="")
        +e.item
            a(href="img/temp/text-gallery/04.jpg")
                img(src="img/temp/text-gallery/04.jpg", alt="")
        +e.item
            a(href="img/temp/text-gallery/05.jpg")
                img(src="img/temp/text-gallery/05.jpg", alt="")
        +e.item
            a(href="img/temp/text-gallery/06.jpg")
                img(src="img/temp/text-gallery/06.jpg", alt="")
// КОНЕЦ: gallery (css, js)
