// gallery (css, js)
// пресет 36000x257
+b.gallery.swiper-container
    .swiper-wrapper
        .swiper-slide
            a(href="img/about/001.png")
                img(src="img/about/001.png", alt="")
        .swiper-slide
            a(href="img/about/002.png")
                img(src="img/about/002.png", alt="")
        .swiper-slide
            a(href="img/about/003.png")
                img(src="img/about/003.png", alt="")
        .swiper-slide
            a(href="img/about/001.png")
                img(src="img/about/001.png", alt="")
        .swiper-slide
            a(href="img/about/002.png")
                img(src="img/about/002.png", alt="")
        .swiper-slide
            a(href="img/about/003.png")
                img(src="img/about/003.png", alt="")

    .swiper-pagination

// КОНЕЦ: gallery (css, js)
