// search-m
.search-m
    form(method="post", action="/search")
        .form-item
            input.form-text(type="text", placeholder="Поиск", id="edit-keys" name="keys")
        .form-action
            input.form-submit(type="submit", value="Найти", id="edit-submit" name="op")
// КОНЕЦ: search-m
