// block-description-series (css, js)
+b.block-description-series.block-inner
    +e.image
        img(src="img/temp/block-desc-ser.png")
    +e.content
        p Описание серии. Чем эта серия или категория изделий отличается от аналогичных. Секционные почтовые ящики для подъездов многоквартирных домов.
        ul
            li Со стеклом и задней стенкой.
            li Расположение корреспонденции - под углом 50°
            li Толщина металла — 0,6 мм
            li от 1-й до 9-и секций
    +e.content-mobile-only
        p Описание серии. Чем эта серия или категория изделий отличается от
        +e.link-toggle.btn_text-link.A(href="#") Показать полностью
            span скрыть описание

// КОНЕЦ: block-description-series(css, js)
