// block.block-catalog.block-catalog-catalog (css)
+b.block.block-catalog.block-catalog-catalog
    .container
        +e.content
            +e.items
                include ../item-catalog/teaser1/catalog
// block.block-catalog.block-catalog-catalog (css)