// block.block-catalog.block-catalog-category-with-goods (css)
+b.block.block-catalog.block-catalog-category-with-goods.bg-gray
    .container
        include ../block-description-series/block-description-series
    .container-fluid
        +e.content
            +e.items
                include ../item-catalog/teaser3/catalog-category-with-goods
        +e.links
            A.btn.btn_primary.btn_lg.btn_download.btn_radius-lg(href="#") Получить оптовый прайс лист
// block.block-catalog.block-catalog-category-with-goods (css)