// block.block-catalog.block-catalog-categories (css)
+b.block.block-catalog.block-catalog-categories
    include ../block-number-section/block-number-section
    .container-fluid
        +e.content
            +e.items
                include ../item-catalog/teaser2/catalog-category
        +e.links
            A.btn.btn_primary.btn_lg.btn_download.btn_radius-lg(href="#") Получить оптовый прайс лист
// block.block-catalog.block-catalog-categories (css)