- const catalogcat = [{"title":"Секционные почтовые ящики","img":"optima.png","href":"#"},{"title":"Индивидуальные почтовые ящики","img":"ind-post-box.png","href":"#"},{"title":"Двери тамбурные металлические","img":"dveri-tamb-metal.png","href":"#"},{"title":"Шкафы металлические для раздевалок","img":"shkaf-metal-razdev.png","href":"#"},{"title":"Металлические урны для улицы","img":"optima-4-3.png","href":"#"}];
 
for item in catalogcat
    +card-category(item, 1)