@import "../../styles/helpers/_helpers";

.webform-submission-form {
    .form-item {
        margin-bottom: 2px;
        textarea {
            height: 100%
        }
    }
    .form-item-markup {
        background-color: $white;
        padding: 30px;
        @include max-screen(767px) {
            padding: 15px;
        }
        p {
            margin: 0;
        }
    }
    .form-item-upload {
        background-color: $white;
        padding: 17px 30px;
        @include max-screen(767px) {
            padding: 15px;
        }
        .description {
            display: none;
        }
    }
    .webform-flexbox {
        display: flex;
        margin: 0 -1px;
        @include max-screen(767px) {
            flex-direction: column;
        }
        .webform-flexbox {
            @include max-screen(991px) {
                flex-direction: column;
            }
        }
    }
    .webform-flex--container {
        margin: 0 1px;
        height: 100%;
        .form-item {
            height: calc(100% - 2px);
        }
    }
    @for $i from 1 through 4 {
        .webform-flex--#{$i} {
            flex: $i;
        }
    }
    .privacy-policy {
        color: #8e8e8e;
        font-size: 12px;
        font-weight: 400;
        line-height: 17px;
        margin: 0 0 10px;
        a {
            color: #8e8e8e;
            font-size: 12px;
            font-weight: 400;
            line-height: 17px;
        }
    }
}

//.wf {
//    .cs-select.error {
//        border: none;
//        .cs-placeholder {
//            color: red;
//        }
//    }
//    .error {
//        @include placeholder() {
//            color: red;
//        }
//        border-color: red;
//    }
//    .wf__markup {
//        background-color: $white;
//        padding: 30px;
//        p {
//            margin: 0;
//        }
//    }
//}
//.wf__privacy-policy {
//    @include max-screen(767px) {
//        margin-top: 36px;
//    }
//    color: #8e8e8e;
//    font-size: 12px;
//    font-weight: 400;
//    line-height: 17px;
//    margin: 0;
//    a {
//        color: #8e8e8e;
//        font-size: 12px;
//        font-weight: 400;
//        line-height: 17px;
//    }
//}
//.wf__action {
//    input {
//        padding: 6px 17px 7px;
//        transition: all 0.25s ease-in-out;
//        font-size: map-get($font-size, norma);
//        font-weight: 600;
//        line-height: 18px;
//        border-width: 1px;
//        border-style: solid;
//        &:hover {
//            text-decoration: none;
//        }
//    }
//}
