// b + b-analog-tech (css, js)
+b.SECTION.b.b-analog-tech.margin
    +e.container
        +e.hd
            +e.H2.title.b__title Похожая техника
        +e.cont
            +e.shadow.A(href="#")
            include ../arrows_1/arrows-3
            +e.list
                +e.list-inner
                    include ../item-unit/teaser-1/item-unit-teaser-1_1
                    include ../item-unit/teaser-1/item-unit-teaser-1_1
                    include ../item-unit/teaser-1/item-unit-teaser-1_1
        +e.ft
            +e.dots.dots_style1
// КОНЕЦ: b + b-analog-tech (css, js)
