// b-compare-list (css)
+b.b-compare-list
    +e.label Выберите раздел техники для сравнения:
    +e.cont
        a(href="#").active Бортовые автомобили Камаз с КМУ
        a(href="#") Автобусы вахтовые КАМАЗ
        a(href="#") Автобусы вахтовые 22 места КАМАЗ 6х6
        a(href="#") Автобусы вахтовые 22 места КАМАЗ 6х6
        a(href="#") Автобусы вахтовые 22 места КАМАЗ 6х6
// КОНЕЦ: b-compare-list (css)
