@import "../../styles/helpers/_helpers";

.b-compare-list {
    display: flex;
    padding: 20px;
    background-color: $white;
    margin-bottom: 20px;
}
.b-compare-list__label {
    flex: 0 0 auto;
    padding-right: 30px;
}
.b-compare-list__cont {
    display: flex;
    flex-flow: row wrap;
    a {
        margin-right: 30px;
        &.active {
            font-weight: 700;
        }
    }
}
