// b + b-consult (css)
+b.block.block-about.block-lg
    .container       
        +e.H2.title ПОЛИСТРОЙ — один из крупнейших в России производителей изделий из листового металла
        +e.content
            +e.items
                +b.item-about
                    +e.image
                        include ../../img/icons-color/15years.svg
                    +e.title 15
                    +e.description Лет на рынке
                +b.item-about.item-big
                    +e.image
                        include ../../img/icons-color/mail-box.svg
                    +e.title 415 000+
                    +e.description Квартир и домов оборудовано нашими почтовыми ящиками
                +b.item-about
                    +e.image
                        include ../../img/icons-color/rus-map.svg
                    +e.title 130+
                    +e.description Дилеров в регионах
                +b.item-about
                    +e.image
                        include ../../img/icons-color/boxes.svg
                    +e.title 1 000 000+
                    +e.description урн,  ящиков и другой продукции производится в месяц
                +b.item-about
                    +e.image
                        include ../../img/icons-color/warehause.svg
                    +e.title 1 800
                    +e.description кв. м - общая площадь производства и склада
                +b.item-about
                    +e.image
                        include ../../img/icons-color/victims.svg
                    +e.title 100+
                    +e.description Сотрудников