+b.block.block-80-80.block-about-text.bg-white
    .container
        +e.content
            +e.img
                IMG(src="img/about/text-block.jpg", alt="О заводе")
            p Завод Полистрой является одним из крупнейших в России производителей металлических почтовых ящиков, уличных урн, клапанов для мусоропровода и других изделий из листового металла. Завод ТМ «FerrumFormat» является одним из крупнейших в России производителей металлических почтовых ящиков, уличных урн, клапанов для мусоропровода и других изделий из листового металла.
            p Завод Полистрой является одним из крупнейших в России производителей металлических почтовых ящиков, уличных урн, клапанов для мусоропровода и других изделий из листового металла. Завод ТМ «FerrumFormat» является одним из крупнейших в России производителей металлических почтовых ящиков, уличных урн, клапанов для мусоропровода и других изделий из листового металла.
