// b + b-config-options (css, js)
+b.SECTION.b.b-config-options.margin
    +e.hd
        +e.H2.title Варианты комплектации
    +e.cont
        //include ../item-unit/teaser-2/config-options
// КОНЕЦ: b + b-config-options (css, js)
