// search-page (css)
+b.b.b-search-page
    +e.hd
        //include ../search-vuejs_1/search_1
    +e.cont
        //include ../item-unit/teaser-2/all
    +e.ft
        //include ../../components/pg_1/pg_1
// КОНЕЦ: search-page (css)
