// b + b-consult (css)
+b.block.block-dealer.block-lg.bg-white
    +e.H2.title Выгодные условия для дилеров
    +e.content 
        p Предоставим образцы продукции, обеспечим рекламными материалами
    +e.link
        A.btn.btn_primary.btn_radius(href="#") Узнать подробнее