// b + b-instock (css, js)
+b.SECTION.b.b-instock_layout-1.margin.padding
    +e.hd
        +e.H2.title Техника в наличии (7)
        +btnLink('#', 'link _icon-right _arrow-right', '') cмотреть все
    +e.cont
        +e.shadow.A(href="#")
        //include ../../arrows_1/arrows-3
        +e.list
            +e.list-inner
                include ../../item-unit/teaser-1/item-unit-teaser-1_1
                include ../../item-unit/teaser-1/item-unit-teaser-1_1
                include ../../item-unit/teaser-1/item-unit-teaser-1_1
                include ../../item-unit/teaser-1/item-unit-teaser-1_1
                include ../../item-unit/teaser-1/item-unit-teaser-1_1
                include ../../item-unit/teaser-1/item-unit-teaser-1_1
                include ../../item-unit/teaser-1/item-unit-teaser-1_1
    +e.ft
        +e.dots.dots_style1
        +btnLink('#', 'secondary _size-2', '') cмотреть все
// КОНЕЦ: b + b-instock (css, js)
