- var sect = [ { 'text': '1 секция'}, { 'text': '2 секции'}, { 'text': '3 секции'}, { 'text': '4 секции'}, { 'text': '5 секций'}, { 'text': '6 секций'}, { 'text': '7 секций'}, { 'text': '8 секций'}, { 'text': '9 секций'}, { 'text': '10 секций'}, { 'text': '11 секций'} ];
// item-number-section
for item in sect
    +item-number(item)
// КОНЕЦ: item-number-section
