// block-page-title
+b.block-catalog-title
    .container
        include ../bc/bc-category-with-goods
        //include ../bc-m/bc-m
        +e.H1 Секционные почтовые ящики серии ОРИОН ПРЕСТИЖ
        +e.P Собственное производство гарантирует отменное качество и цены до 30% ниже, чем средние по рынку!
// КОНЕЦ: block-page-title
