// block-page-title
+b.block-catalog-title
    .container
        +e.wrapper
            include ../bc/bc
            //include ../bc-m/bc-m
            +e.H1 Продукция завода ПОЛИСТРОЙ
            +e.P Собственное производство гарантирует отменное качество и цены до 30% ниже, чем средние по рынку!
// КОНЕЦ: block-page-title
