@import "../../styles/helpers/_helpers";

.bc-m {
	margin: 19px 0;
    display: none;
    @include max-screen(991px) {display: block;}
}
.bc-m__link {
	padding-left: 21px;
	position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        // @include svgsprite(arrows-back);
    }
}
