// thumbs
- var numImage = 6;
.gallery-thumbs.swiper-container
	.swiper-wrapper
		- for (var i=1; i<=numImage; i++)
			.swiper-slide
				img(src="img/product/temp-box.png", alt="")
	.swiper-pagination
//// Конец thumbs