// block-face
+b.block.block-face.block-lg
    .container
        +e.wrapper
            +e.content
                +e.img.IMG(src="img/face.png", alt="Директор")
                +e.text
                    p «Главное отличие нашего завода — это направленность на развитие дилерской сети. Мы ориентированы на крупные торговые организации, поэтому постоянно совершенствуем ценовую и дилерскую политику.
                    p С момента разработки чертежей конструкторским отделом и до внедрения продукции в производство мы руководствуемся принципами — лучшее качество при минимальной цене. И действительно нам удается при отменном качестве изделий предлагать цены до 30% ниже средних по рынку!»
                +e.subtext.P Александр Мурдасов, основатель компании
// КОНЕЦ: block-face
