// nv-main-menu
+b.nv-main-menu
    +e.list.UL
        +e.item.__item-1.active
            +e.link.A(href='#')
                span О нас
        +e.item_expanded.__item-2
            +e.link.A(href='#')
                span Продукция
            +b.nv-main-menu-submenu.nv-main-menu__submenu(style="opacity: 0; visibility: hidden;")
                +e.inner
                    +e.UL.list
                        +e.item
                            +e.link.A(href="#")
                                img(src="img/temp/main-menu/01.png", alt="")
                                span Секционные почтовые ящики
                        +e.item
                            +e.link.A(href="#")
                                img(src="img/temp/main-menu/02.png", alt="")
                                span Шкафы для раздевалок
                        +e.item
                            +e.link.A(href="#")
                                img(src="img/temp/main-menu/03.png", alt="")
                                span Конейнеры для сбора спама
                        +e.item
                            +e.link.A(href="#")
                                img(src="img/temp/main-menu/04.png", alt="")
                                span Совки для убоки улицы
                        +e.item.active
                            +e.link.A(href="#")
                                img(src="img/temp/main-menu/05.png", alt="")
                                span Двери тамбурные металлические
                        +e.item
                            +e.link.A(href="#")
                                img(src="img/temp/main-menu/06.png", alt="")
                                span Загрузочные клапаны мусоропровода
                    +e.UL.list
                        +e.item
                            +e.link.A(href="#")
                                img(src="img/temp/main-menu/07.png", alt="")
                                span Индивидуальные почтовые ящики
                        +e.item
                            +e.link.A(href="#")
                                img(src="img/temp/main-menu/08.png", alt="")
                                span Уличные урны
                        +e.item
                            +e.link.A(href="#")
                                img(src="img/temp/main-menu/09.png", alt="")
                                span Информационные доски
                        +e.item
                            +e.link.A(href="#")
                                img(src="img/temp/main-menu/10.png", alt="")
                                span Металлические аптечки
                        +e.item
                            +e.link.A(href="#")
                                img(src="img/temp/main-menu/11.png", alt="")
                                span Металлические ключницы
                        +e.item
                            +e.link.A(href="#")
                                img(src="img/temp/main-menu/12.png", alt="")
                                span Измельчители зерна и корма
        +e.item.__item-3
            +e.link.A(href='#')
                span Доставка и оплата
        +e.item.__item-4
            +e.link.A(href='#')
                span Сотрудничество
        +e.item.__item-5
            +e.link.A(href='#')
                span Контакты
// КОНЕЦ: nv-main-menu
