// block-docs-sert
+b.block.block-lg.block-docs-sert
    .container
        +e.content
            +e.title
                h2 Свидетельства завода
            +e.items
                +e.item
                    img(src="img/about/doc1.jpg", alt="Документ")
                +e.item
                    img(src="img/about/doc2.jpg", alt="Документ")
                +e.item
                    img(src="img/about/doc3.jpg", alt="Документ")
                +e.item
                    img(src="img/about/doc4.jpg", alt="Документ")

// КОНЕЦ: block-docs-sert
