// block-docs-sert
+b.block.block-lg.block-docs-sert.bg-white
    .container
        +e.content
            +e.title
                h2 Благодарственные письма от партнеров
            +e.items
                +e.item
                    img(src="img/about/docsf01.png", alt="Документ")
                +e.item
                    img(src="img/about/docsf02.png", alt="Документ")
                +e.item
                    img(src="img/about/docsf03.png", alt="Документ")
                +e.item
                    img(src="img/about/docsf04.png", alt="Документ")

// КОНЕЦ: block-docs-sert
