// nd-page (css)
+b.nd-page
    +e.content
        +e.body.margin
            p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
            p Окраску для ваших абонентской ячейки можно выбрать из палитры RAL. Будь то ящик почтовый зеленый или малиновый. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
            p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
            h2 H2 Gilroy 32 pt
            p Разноцветные почтовые ящики способны подчеркнуть индивидуальность вашего дома, поднять настроение, поддержать корпоративный стиль предприятия. По сути, отличаются они от обычных металлических почтовых ящиков только цветом. Материалы и габариты все идентичные. В производстве применяется листовая сталь стандартной толщины.
            p Окраску для ваших абонентской ячейки можно выбрать из палитры RAL. Будь то ящик почтовый зеленый или малиновый. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными. Окраску для ваших абонентской ячейки можно выбрать из палитры RAL. Будь то ящик почтовый зеленый или малиновый. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
            h3 H3 Gilroy 24 pt
            p Окраску для ваших абонентской ячейки можно выбрать из палитры RAL. Будь то ящик почтовый зеленый или малиновый. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
            table
                tbody
                    tr
                        td Габариты
                        td 370 х 380 х 180 мм
                    tr
                        td Способ установки
                        td Для крепления на стену
                    tr
                        td Покрытие
                        td Полимерно-порошковое
                    tr
                        td Материал изготовления корпуса
                        td Сталь 0.6 мм
                    tr
                        td Возможность эксплуатации на открытом воздухе
                        td Нет
                    tr
                        td Тип загрузки корреспонденции
                        td Через прорезь в фасадной части
                    tr
                        td Количество секций
                        td 2 секции
                    tr
                        td Количество ключей в комплекте
                        td 2 шт закрепляется к каждой секции
                    tr
                        td Наличие замка
                        td Установлен
            table.noborder
                tbody
                    tr
                        td Габариты
                        td 370 х 380 х 180 мм
                    tr
                        td Способ установки
                        td Для крепления на стену
                    tr
                        td Покрытие
                        td Полимерно-порошковое
                    tr
                        td Материал изготовления корпуса
                        td Сталь 0.6 мм
                    tr
                        td Возможность эксплуатации на открытом воздухе
                        td Нет
                    tr
                        td Тип загрузки корреспонденции
                        td Через прорезь в фасадной части
                    tr
                        td Количество секций
                        td 2 секции
                    tr
                        td Количество ключей в комплекте
                        td 2 шт закрепляется к каждой секции
                    tr
                        td Наличие замка
                        td Установлен
            table.nostyle
                tbody
                    tr
                        td Габариты
                        td 370 х 380 х 180 мм
                    tr
                        td Способ установки
                        td Для крепления на стену
                    tr
                        td Покрытие
                        td Полимерно-порошковое
                    tr
                        td Материал изготовления корпуса
                        td Сталь 0.6 мм
                    tr
                        td Возможность эксплуатации на открытом воздухе
                        td Нет
                    tr
                        td Тип загрузки корреспонденции
                        td Через прорезь в фасадной части
                    tr
                        td Количество секций
                        td 2 секции
                    tr
                        td Количество ключей в комплекте
                        td 2 шт закрепляется к каждой секции
                    tr
                        td Наличие замка
                        td Установлен           
            p Окраску для ваших абонентской ячейки можно выбрать из палитры RAL. Будь то ящик почтовый зеленый или малиновый. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными. Окраску для ваших абонентской ячейки можно выбрать из палитры RAL. Будь то ящик почтовый зеленый или малиновый. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
            p
                strong Список маркированный на текстовой странице:
            ul
                li Габариты: 370 × 380 × 180 мм
                li Толщина стали: 0,6 мм
                li Покрытие: полимерно-порошковое
                li Наличие замка: есть
                li Кол-во ключей: по 2 шт. для каждой секции
            p Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
            p Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
            ol
                li Габариты: 370 × 380 × 180 мм
                li Толщина стали: 0,6 мм
                li Покрытие: полимерно-порошковое
                li Наличие замка: есть
                li Кол-во ключей: по 2 шт. для каждой секции
            p Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.Важно отметить, что классические серо-бежевые.
            p Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными. Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.Важно отметить, что классические серо-бежевые и синие почтовые ящики все-таки остаются наиболее востребованными.
            
    +e.gallery.margin
        include ../gallery/gallery
// КОНЕЦ: nd-page (css)
