// mark
+b.mark
    +e.item
        img(src="/img/mark/ymz.png", alt="")
    +e.item
        img(src="/img/mark/04.png", alt="")
    +e.item
        img(src="/img/mark/yazda.png", alt="")
    +e.item
        img(src="/img/mark/01.png", alt="")
    +e.item
        img(src="/img/mark/livny.png", alt="")
    +e.item
        img(src="/img/mark/03.png", alt="")
    +e.item
        img(src="/img/mark/dev.png", alt="")
    +e.item
        img(src="/img/mark/02.png", alt="")
    +e.item
        img(src="/img/mark/difa.png", alt="")
// КОНЕЦ: mark
